body {
	font-family: 'Antonio', sans-serif;
	
}

.corpo-pagina {
	background: linear-gradient(#E7E8EA, #61210B);

}

header {
	font-family: 'Antonio', sans-serif;
	padding: 0;
}

.cabecalho {
	position: relative;
	width: 940px;
	height: 200px;
	margin: 0 auto;
}

.logo2 {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 200px;
	height: 200px;
	display: inline-block;
}

nav {
	position: absolute;
	top: 85px;
	right: 45px;
}

nav li {
	display: inline-block;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #585858;
	font-weight: bold;	
	font-size: 1.5em;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #61210B;
	font-size: 1.6em;
}

.principal {
	background-image: url(imagens/cerveja-home.jpg);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 940px;
	height: 550px;
	margin: 0 auto;
	border-radius: 5px;
}

.endereco {
	display: inline-block;
	position: relative;
	color: #E7E8EA;
	text-align: center;
	/*border: 3px solid black;
	border-radius: 5px;*/
	width: 150px;
	height: 180px;
	top: 185px;
	left: 120px;
}

.endereco h3 {
	font-size: 1.2em;
}


.video {
	margin: 20px auto;
	padding: 0px;
	width: 940px;
	height: auto;
}

.video-home {
	width: 560px;
	margin: 2em auto;
}

.mapa {
	width: 860px;
	margin: 2em auto;
}

.rodape {
	text-align: center;
	color: #E7E8EA;
	/*background: #61210B;*/
    font-size: 0.8em;
    margin: 0px;
    padding: 20px 0;
}

/*Início Cardápio*/

.cardapio {
	width: 940px;
	margin: 0 auto;
	
}

.imagenscardapio {
	width: 200px;
	height: 160px;
	border-radius: 10px;
	display: inline-block;
	float: left;

}

.itenscardapio {
	display: inline-block;
	border: 1px solid #61210B;
	border-radius: 12px;
	clear: left;
	width: 30%;
	height: 160px;
	margin: 10px;
}

.itenscardapio:hover {
	border-color: #E7E8EA;

}

.itenscardapio p {
	text-align: center;
}

/*Página Contato*/

form {
	margin: 40px 0;
}

.formulario {
	width: 940px;
	margin: 0 auto;
}


form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 20px;
}

.comogostaria {
	margin: 20px auto;
}

.qualhorario {
	margin: 20px auto;
}

.checkbox {
	margin: 20px 0;	
}

.mensagem {
	margin: 20px auto;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
	background-color: #D3D3D3;
	border-radius: 6px;
	border-color: #E7E8EA;
	width: 250px;
	box-shadow: 3px 3px 10px 0 #000000;
}



.enviar {
	padding: 20px;
	background-color: #E7E8EA;
	box-shadow: 3px 3px 10px 0 #000000;
	border-radius: 6px;
	cursor: pointer;
	margin: 20px 0;
}

.enviar:hover {
	transform: scale(1.1);

}